@CHARSET "UTF-8";
@font-face {
    font-family: 'beaue';
    src: url('BEAUE_.otf');
}

html {
	font-size: 75%;
	background: transparent;
}

body {
	margin: 2rem .5rem;
	font-size: 1rem;
	background: transparent;
}

h1 {
	margin-top: .6em;
	font-size: 4rem;
	font-family: 'beaue';
	font-weight: normal;
	margin-bottom:.3em;
}

th {
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 1rem;
}

td {
	font-size: 1rem;
}

td.pad {
	padding: 0 .5rem;
}
.left {
	text-align:left;
}
.subtitle {
	color: graytext;
}